google-api-python-client==2.31.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
oauth2client
gspread
git+https://github.com/szilard-nemeth/python-commons.git

flake8
pytest>=3.6
pytest-cov
setuptools
pre-commit

# Python 2
pathlib

# google-api-python-client
setuptools>=40.3.0